*.o
*.obj
*.exe
*.out
*.app
main
*.dSYM/
*.stackdump
*.gch
*.pch
*.lst
*.sbr
*.ilk
*.pdb
*.d
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.make
build/
CMakeLists.txt.user
compile_commands.json
.vscode/
.idea/
*.swp
*~
*.swo
*.user
*.ncb
*.sdf
*.opensdf
.DS_Store
Thumbs.db
